*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 80%;
    height: 100vh;
    background-color: black;
}